<% include ../partials/header %>

<!-- estava a tentar fazer o style da pagina mas o bootstrap esta desatualziado tenho de aprender.-->


<div class="container">
 
       <h1 class='text-center my-4'>Edit <%= campground.name %> </h1>

    <div class="row">
        <div class="col-md-4 offset-md-4">
             
            <form action='/campgrounds/<%= campground._id %>?_method=PUT' method='POST'>
                <div class="form-group">
                    <input class='form-control' type='text' name='campground[name]' value='<%= campground.name %>'>
                </div>
            
                <div class="form-group">
                    <input class='form-control' type='text' name='campground[image]' value='<%= campground.img %>'>
                </div>  
                
                 <div class="form-group">
                    <input class='form-control' type='text' name='campground[description]' value='<%= campground.description %>'>
                </div>  
                
                <div class="form-group">
                    <input class='btn btn-large btn-success btn-block' type='submit'>
                </div> 
                
            
            
             <a href='/campgrounds'>Return</a>
            
        </form>
        </div>
    </div>
        
        
       
 
</div>

<% include ../partials/footer %>